<!DOCTYPE html>
<html>
 <!--
 <head time="1426816892">
 -->
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
  <meta charset="utf-8" /> 
  <!--
  <link rel="dns-prefetch" href="http://dzqun.gtimg.com/" /> 
  -->
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" /> 
  <meta name="format-detection" content="telephone=no" /> 
  <meta name="apple-mobile-web-app-capable" content="yes" /> 
  <meta name="baidu-tc-cerfication" content="5f496895eb9bff9ec4db4512a7e4e95c" /> 
  <meta name="description" content="《龙斌大话电影》是互联网首档超人气影评脱口秀节目，每周一、四更新。主播龙斌用最接地气的犀利吐槽，每期点评一部电影，配合网友留言互动，并会在节目最后推荐同类型的优秀影片。" /> 
  <meta name="keywords" content="" /> 
  <link rel="shortcut icon" href="http://dzqun.gtimg.cn/quan/images/favicon.ico" /> 
  <link rel="stylesheet" href="/static/css/style.css"/>

  {% block header %}

    <title>龙门客栈</title>

  {% end %}

  <!--debug--> 
  <script type="text/javascript">
      var sId = 264151824,
          tId = 3569,
          uId = '276309522',
          isManager = 0,
          authUrl = '';

      document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
          WeixinJSBridge.call('hideToolbar');
          WeixinJSBridge.call('showOptionMenu');
      });
  </script>

 </head>
 <body class="" style="zoom: 1;">

  {% block body %}{% end %}

  {% block footer %}{% end %}

 </body>
</html>
